In [ ]:
import sklearn

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("bank-marketing.csv")

le = LabelEncoder()
df["marital"] = le.fit_transform(df["marital"])

df["marital"]

0        1
1        2
2        1
3        1
4        2
        ..
45206    1
45207    0
45208    1
45209    1
45210    1
Name: marital, Length: 45211, dtype: int64

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df = pd.read_csv("bank-marketing.csv")

ohe = OneHotEncoder(sparse_output=False)
encoded = ohe.fit_transform(df[["job"]])

cols = ohe.get_feature_names_out(["job"])
encoded_df = pd.DataFrame(encoded, columns=cols)

encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [ ]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

df = pd.read_csv("bank-marketing.csv")

encoder = OrdinalEncoder(categories=[['primary', 'secondary', 'tertiary', 'unknown']])

df= encoder.fit_transform(df[['education']])

df

array([[2.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]])