In [ ]:
# & -> and
# | -> or
# ~ -> not
# ^ -> xor

In [ ]:
# round vs floor
# round vs around -> even

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
# Series

# Looks like 1-D aray

# Syntax  :-

# 1. name=numbers
# 2. name=values

# s = pd.Series([1,2,3,4,5])
# s

# s = pd.Series ((1,2,3,4,5))
# s

# s_c = pd.Series([1,2,3,4,5],name='numbers')
# s_c

# s_c = pd.Series ([1,2,3,4,5] , name = 'numbers' , index = range(1,6))
# s_c

# s_c = pd.Series ([1,2,3,4,5] , name = 'numbers' , index = ['a','b','c','d','e'])
# s_c



# Upcasting :-

# s = pd.Series ((1,2,3,4,5.5))
# s

# s = pd.Series ((1,2,3,4,5,True))             # -> Here, string will not be typecasted, it is also treated as an object.
# s

# s = pd.Series ((1,5.5,{1,2}))
# s

# s = pd.Series (({1,2,3}))                    # -> Set is unordered
# s

# s = pd.Series ({'a':1,2:2,3:3},name='values')
# s

# a = np.array ([1,2,3,'string'])
# s_a = pd.Series(a)
# s_a

In [ ]:
# DataFrame

# df = pd.DataFrame(a)
# df

# df = pd.DataFrame(a,s)
# df

# d={'name':['harshit','abc','def'],
#    'age':[23,24,25],
#    'gender':('M','M','F'),                      # -> tuple and list both work.
#    'marks':[200,150,199]}

# df = pd.DataFrame(d,index=[1,2,3])
# df

# df['name'][1]



# Functions :-

# df.info()

# df.describe()

# df.columns

# df.head()                 # Top 5 rows (default=5)

# df.tail()                 # Bottom 5 rows

# df['name'].unique()

# df['gender'].unique()

# df.value_counts()

# df['name'].value_counts()

# df1 = df.sort_values(by = 'marks', ascending = False)
# df1.reset_index(inplace = True)                              # Will only work for DataFrame
# df1

# sorted_by_marks = df.sort_values(by = 'marks', ascending = False)
# sorted_by_marks.reset_index(inplace = True)
# sorted_by_marks



# sorted_by_marks.drop(0)

# sorted_by_marks('index',axis=1)

# sorted_by_marks('index',axis=1,inplace=True)

In [ ]:
# Indexing and Slicing in Series

# s = pd.Series([1,2,3,4,5])
# s

# s[0]

# s[1::2]
# s[::-1]
# s[-1:-4]

In [ ]:
# Indexing and Slicing in DF

# df[0]                          # Error
# df['name','age']               # Error

# df['age']

# df['marks'][1::2]
# df['marks'][-1:]
# df['marks'][-1:-4]              # -> -ve indexing not preferred.

In [ ]:
# Covering Limitation

# 1. loc

# Syntax :- df.loc[rows,cols]

# df.loc[[0,2,4],['name','age']]

# df.loc[1::2,['name','age']]              # Column slicing cannot be performed here.



# 2. iloc

# df.iloc(1::2)

In [ ]:
# Importing DF

titanic = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/titanic.csv")
titanic

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
df_af=pd.read_csv('amazon_fires.csv',encoding='ISO-8859-10')
df_af

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [ ]:
# Boolean Filtering



# df_af.info()

# df_af[df_af['ano']>1990] & df_af

# titanic[((titanic['sex']=='female') & (titanic['age']==10)) | (titanic['fare']>500)]

In [ ]:
# Grouping -> It is done on categorical columns.



# df_af['ano'].unique()

# df_af.groupby('ano')

# a1998 = df_af.groupby('ano').get_group(1998)
# a1998

# titanic.groupby('embarked').get_group(np.nan)           # Error

# embarked_c = titanic.groupby('embarked').get_group('C')
# embarked_c

# fare_more_than_400 = titanic[titanic['fare']>=400]
# fare_more_than_400

# fare_more_than_400.groupby('sex').get_group('female')



# Aggregate Functions

# fare_more_than_400['fare'].sum()

# fare_more_than_400

# fare_more_than_400['name'].str.strip()

# fare_more_than_400['name'].str.upper()

# titanic['fare'].max()

# titanic['fare'].min()

# female_died = titanic.groupby('survived').get_group(0).groupby('sex').get_group('female')
# female_died[female_died['age']<18]



# titanic[(titanic['sex']=='female') & (titanic['age']==18)]

# titanic[((titanic['sex']=='female') & (titanic['age']==18)) | (titanic['fare']>500)]

In [ ]:
# Merging

# pd.concat([df_af,titanic])

In [ ]:
# DROP ROWS OR COLUMNS.



# SORT DATA.



# RESET INDEX.



# APPLYING IN-BUILT FUNCTIONS.



# HANDLING MISSING VALUES.



# WE CAN DROP THE ENTIRE ROW WHERE NULL/NaN IS THERE.

# titanic.dropma()

# titanic.info()



# FILL NaN FOR INTEGER OR FLOAT DATA TYPE - 0 , MEAN , MODE.



# FILL WITH BACKWARD FILL AND FORWARD FILL.

# titanic['cabin'].fillna('unknown').unique()

# titanic['cabin'] = titanic['cabin'].fillna('unknown')
# titanic['cabin']
# titanic.dropna()

# titanic['age'].fillna(method = 'ffill').count()
# titanic['age'].fillna(method = 'bfill').count()

# titanic['age'] = titanic['age'].fillna(0)



# DUPLICATES

# titanic.duplicated()

# titanic.duplicated().value_counts()

# titanic.drop_duplicates(inplace = True)



# CONVERSION OF A COLUMN'S DATATYPE INTO ANOTHER DATA TYPE.

# titanic['age'] = titanic['age'].fillna(0)
# titanic['age'].astype(np.int64)